html { 
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: 'Merriweather', serif;
    color:#1a1a1a; 
    text-align: center;
}
button  {
    font-size: 30px;
    margin: 30px;
}
.game {
    display: flex;
    margin: 40px;
   
}



